<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>List Of Students</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
  </style>
</head>
<body>
<header>
  <h1>Students in Course </h1>
</header>
<section>
  <div><th:block th:text="${course.getName()}"></th:block></div>
  <ul>
    <li th:each="student : ${course.getStudents()}">
      <th:block th:text ="${student.getName()}"></th:block>
    </li>
  </ul>
  <a href="/listCourses">Back</a>
</section>

</body>
</html>